@use '../global/bootstrap.scss';

.btn {
    font-size: inherit;
    font-weight: 700;
    border: 1px solid bootstrap.$border-color;
    position: relative;
    color: bootstrap.$accent-text-color;
    text-decoration: none;
    border-radius: 30px;
    padding: 8px 20px;
    cursor: pointer;

    &--primary {
       background-color: bootstrap.$primary-bg-color; 
    }

    &--secondary {
        background-color: transparent;
    }

    &--small {
        font-size: 14px;
    }

    &--danger {
        background-color: bootstrap.$danger-bg-color;
        color: bootstrap.$primary-text-color;
    }
}
