@use '../global/bootstrap.scss';

.field {
    outline: none;
    background-color: bootstrap.$primary-bg-color;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
    color: bootstrap.$primary-text-color;
    font-size: 16px;
    line-height: 1.5;

    &:focus-within {
        outline: 2px solid rgba(255, 219, 88, 0.3);
    }
}