.person {
    display: flex;
    animation-name: drop;
    animation-duration: 0.45s;
}

.person__avatar {
    margin-right: 10px;
    flex-shrink: 0;
}

.person__name {
    width: 100%;
    margin-right: 10px;
}

.person__delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
