@use '../global/bootstrap.scss';

.wrapper {
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 1px solid bootstrap.$wrapper-border-color;
    border-radius: 15px;
    background-color: bootstrap.$wrapper-color;

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    &--small {
        box-sizing: border-box;
        margin: auto;
        padding: 15px;
    }
}

.wrapper__header {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 15px 15px 0 0;
    background-color: bootstrap.$primary-bg-color;
}

.wrapper__body {
    width: calc(100% - 30px);
    padding: 5px;
}

.wrapper__btn {
    display: flex;
    width: calc(100% - 30px);
    justify-content: center;

    &--disabled {
        pointer-events: none;
    }
}
