// Цвета фона
$page-color: #2b2b2b;
$wrapper-color: #414141;
$wrapper-border-color: #4f4f4f; 
$primary-bg-color: #5f5f5f; // для кнопок, полей ввода, шапок обертки
$accent-bg-color: #959595; // более светлый, для акцентов
$border-color: #7c7c7c;
$danger-bg-color: #fd7287; 

// Цвета текста
$primary-text-color: #ffffff;
$accent-text-color: #ffdb58;
